pdfs/
.env
.venv
sentiment-analysis-final/__pycache__/
*.pyc
*.pyo
*.pyd

NLP_Notebooks/
learning_material/
data/

# Large data files
*.pkl
sentiment-analysis-final/data/
sentiment-analysis-dataset/training.1600000.processed.noemoticon.csv
sentiment-analysis-final/word2vec_tokens_data/
sentiment-analysis-final/word2vec_tokens_data.zip