pdfs/
.env
.venv


NLP_Notebooks/
learning_material/
data/

# Large data files
*.pkl
sentiment-analysis-final/data/
sentiment-analysis-final/data.zip
sentiment-analysis-dataset/training.1600000.processed.noemoticon.csv